*{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
body{
    background-color: #fefefe;
}
/* header Div */
div.header{
    height: 35px;
    color: white;
    background-color: #443f3c;
}
/* library-info Div */
.library-info{
    height: 35px;
    background-color:#e0a272;
}
.library-info-logoplacement{
    width: 50%;
    background-color: crimson;
}
.library-info-infoplacement{
    width: 50%;
    background-color: gold;
}
/* library-search Div */
.library-search{
    height: 35px;
    background-color:#cbe7ed;
}
/* poweredby div */
.poweredby{
    height: 15px;
    background-color:#edcbe2;
}
.poweredby-text{
    height: 10px;
}