* {
	box-sizing: border-box;
}

[class*="col-"]
{
	float: left;
} 
	
[class*="col-"]
{/*Mobile*/
	width: 100%;
}
			
@media only screen and (min-width: 1024px)
{/*Desktop*/
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

body {
	
    margin: -1px;
    padding: 20px;
    background-color: #aaa;
}

.header-sections {

	height: 250px;
	background-color: #000;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.logo {
	
	height: 180px;
	width: 180px;
}

.welcome-header-text {

	font-size: 60px;
	font-family: calibri;
	color: #fff;
}

.welcome-subheader-text {
	
	font-size: 40px;
	font-family: calibri;
	color: #fff;
}

.login-header-text {
	
	font-size: 30px;
	font-family: calibri;
	color: #f1f1f1;
}

.input-fields {
	
	width: 300px; 
	height: 50px; 
	border: 1px solid #999999; 
	padding: 1px;
}

input,
input::-webkit-input-placeholder {
    font-size: 25px;
    line-height: 3;
    text-align: center;
	font-style: italic;
}

.login-button {
	
	width: 150px; 
	height: 50px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
    font-size: 25px;
}

.left-main {

	float: left;
	height: auto;
	min-height: 400px;
	background-color: #9fb1ce;
/*  	opacity: 0.7;
	filter: alpha(opacity = 70); */
}

.left-main-header {
	
	text-align: center;
	font-size: 35px;
	font-family: calibri;
	font-style: italic;
}

.middle-main {

	float: left;
	height: auto;
	min-height: 400px;
	background-color: #546b91;
/* 	opacity: 0.7;
	filter: alpha(opacity = 70); */
}

.middle-main-header {
	
	text-align: center;
	font-size: 35px;
	font-family: calibri;
	font-style: italic;
}

.right-main {

	float: left;
	height: auto;
	min-height: 400px;
	background-color: #1e365e;
/* 	opacity: 0.7;
	filter: alpha(opacity = 70); */
}

.right-main-header {
	
	text-align: center;
	font-size: 35px;
	font-family: calibri;
	font-style: italic;
}


.footer {

	clear: both;
	width: 100%;
	padding: 40px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-size: 25px;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}